@font-face {
  font-family: "OpenSansHebrew";
  src: url("~assets/fonts/OpenSansHebrew-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "OpenSansHebrew";
  src: url("~assets/fonts/OpenSansHebrew-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "OpenSansHebrew";
  src: url("~assets/fonts/OpenSansHebrew-Bold.ttf.ttf");
  font-weight: 700;
}
.OpenSansHebrew {
  font-family: "OpenSansHebrew";
}
