html {
  font-size: 1.1vw;
}
@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

body {
  font-size: 16px;
  font-weight: 400;
  color: $black;
  font-family: "OpenSansHebrew";
}

.content {
  font-size: 20px;
  line-height: 29px;
  a {
    text-decoration: underline;
    font-weight: 900;
    &:hover {
      text-decoration: none;
    }
  }
  p {
    margin: 2em 0;
  }
  em,
  strong {
    font-weight: 700;
    padding-right: 0.2em;
  }
  i {
    font-style: italic;
  }
}
