.form {
  &__wrapper {
    background-color: #fff;
    padding: 16px;
    font-size: 20px;
    line-height: 1.25;
  }
  &__small {
    width: 100%;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    span {
      color: #6f6f6f;
    }
  }
}

.ok-btn.v-btn,
.ok-btn {
  border: 1px solid #4d4d4d;
  border-radius: 3rem;
}

.ok-radio-btn .v-input--selection-controls__input i {
  background: $prim-gray !important;
  border-radius: 50%;
  border: 1px solid rgb(26, 26, 26);
  transform: scale(0.75);
}
.ok-radio-btn .v-input--selection-controls__input {
  i.mdi-radiobox-blank::before {
    display: none;
  }
  i.mdi-radiobox-blank::before {
    content: "\F043E";
  }
}
.ok-form {
  .ok-input {
    font-size: 14px;
    line-height: 20px;
    span {
      display: block;
      margin-bottom: 4px;
    }
    .v-input__slot {
      border: 1px solid #a3a3a3;
    }
  }
  .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    display: none;
  }
}
