.form {
  &__wrapper {
    background-color: #fff;
    padding: 16px;
    font-size: 20px;
    line-height: 1.25;
  }
  &__small {
    width: 100%;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    span {
      color: #6f6f6f;
    }
  }

}

.v-dialog .v-form {
  .block-btn {
    border-radius: 20px;
    height: 40px;
  }
  hr.v-divider--inset:not(.v-divider--vertical) {
    margin: auto;
    max-width: calc(100% - 48px);
  }
}
