// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
// fonts
$font-family: "OpenSansHebrew", "Alef", sans-serif;
$body-font-family: "OpenSansHebrew", "Alef", sans-serif;
$heading-font-family: "Alef", sans-serif;

$baseFontSize: 16;
:root {
  --prim-gray: #e5e5e5;
  --light-gray: #ebebeb;
  --dark-gray: #d3d3d3;
  --ok-color: #25408f;
}

$prim-gray: var(--prim-gray);
$light-gray: var(--light-gray);
$dark-gray: var(--dark-gray);
$ok-color: var(--ok-color);

$black: #1d1d1d;
$white: #f2f2f2;

$mobile: "(max-width: 960px),(max-device-width: 760px),(orientation: portrait)";
html {
  font-size: #{$baseFontSize}px;
}
body {
  font-size: px($baseFontSize);
  .v-application,
  .v-application *,
  * {
    font-family: $font-family !important;
  }
}
@function rem($pixels) {
  @return $pixels / $baseFontSize + rem;
}

// nedd to be in the bottom of this file
@import "~vuetify/src/styles/styles.sass";
