// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
$baseFontSize: 16;
$black: #1d1d1d;
$white: #f2f2f2;
$gray: rgba(242, 242, 242, 0.712);
$red: #cb5858;
$mobile: "(max-width: 960px),(max-device-width: 760px),(orientation: portrait)";
html {
  font-size: $baseFontSize;
  font-size: 1.11vw;
}
body {
  font-size: px($baseFontSize);
}
@function rem($pixels) {
  @return $pixels / $baseFontSize + rem;
}
